<html>
  <head>
    <!-- Django static tag를 사용하여 CSS파일 로드 -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <!-- 페이지 제목 -->
    <h1>음역대 측정 페이지</h1>
    <!-- 음성 입력 버튼, 클릭 시 녹음 버튼을 보이게 함 -->
    <button type="button" id="voice_input">음성 입력</button>
    <!-- 녹음 시작 및 종료 버튼, 기본적으로 숨겨져있음 -->
    <div id="recording_buttons" style="display: none">
      <button onclick="startrecording()">녹음 시작</button>
      <button onclick="stoprecording()">녹음 종료</button>
    </div>

    <!-- 파일 업로드를 위한 폼, POST 메서드 사용 -->
    <form method="post" enctype="multipart/form-data">
      <!-- Django에서 CSRF 공격을 방지하기 위한 토큰과 폼 필드 출력 -->
      {% csrf_token %} {{ form.as_p }}
      <!-- 파일 측정을 위한 제출 버튼 -->
      <button type="submit">파일 측정</button>
    </form>

    <!-- 키와 파일 이름이 있는 경우에만 출력 -->
    {% if key and file_name %}
    <p>파일 이름: {{ file_name }}</p>
    <p>키: {{ key }}</p>
    {% endif %}

    <script>
      // 음성 입력 버튼에 클릭 이벤트 추가
      // 클릭 시 녹음 버튼을 보이게 함
      document
        .getElementById("voice_input")
        .addEventListener("click", function () {
          document.getElementById("recording_buttons").style.display = "block";
        });

      // 쿠키에서 값을 가져오는 함수
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          let cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      // MediaRecorder 인스턴스와 녹음 데이터를 저장할 배열을 선언
      let mediaRecorder;
      let chunks = [];

      // 녹음을 시작하는 함수
      async function startrecording() {
        // 사용자의 오디오 장치에 접근
        let stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.start();

        // 녹음 데이터가 생성될 때마다 chunks 배열에 추가
        mediaRecorder.ondataavailable = function (e) {
          chunks.push(e.data);
          console.log(
            "Data available after MediaRecorder.ondataavailable event:",
            e.data
          );
        };
      }

      // 녹음을 종료하는 함수
      function stoprecording() {
        mediaRecorder.stop();

        // 녹음이 종료될 때 실행
        mediaRecorder.onstop = function (e) {
          // 녹음된 데이터를 Blob 객체로 변환
          let blob = new Blob(chunks, { type: "audio/ogg; codecs=opus" });
          chunks = [];

          console.log("Converted Blob:", blob);

          // FormData 객체를 생성하고, Blob 객체를 추가
          let formData = new FormData();
          formData.append("audio", blob);

          // CSRF 토큰을 가져옴
          let csrftoken = getCookie("csrftoken");

          // 서버에 POST 요청을 보냄
          fetch("/range", {
            method: "POST",
            body: formData,
            headers: {
              "X-CSRFToken": csrftoken,
            },
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.key) {
                // 서버에서 받은 키를 화면에 출력
                let p = document.createElement("p");
                p.textContent = "녹음된 키: " + data.key;
                document.body.appendChild(p);
                console.log(data);
              }
            })
            .catch((error) => {
              console.log(error);
            });
        };
      }
    </script>
  </body>
</html>
